[submodule "asteroids"]
	path = Working/Asteroids/asteroids
	url = https://github.com/plojo/asteroids.git

[submodule "snake-wasm"]
	path = Working/Snake/snake-wasm
	url = https://github.com/fredericcambon/snake-wasm
	ignore = dirty
[submodule "InProgress/Pacman/pacman-webassembly"]
	path = InProgress/Pacman/pacman-webassembly
	url = https://github.com/plojo/pacman-webassembly.git
	
[submodule "Working/DOSBox/em-dosbox"]
	path = Working/DOSBox/em-dosbox
	url = https://github.com/dreamlayers/em-dosbox.git
